// Mixins in here
.button-style{
    width: 80%;
    padding: 15px 30px;
    background-color:@button-bg;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    &:hover{
        background-color: darken(@button-bg,10%);
    }
}

.flex-box(@justify){
    display:flex;
    justify-content: @justify;
}